#!/bin/bash

# This script is managed through Ansible

pushd {{ l10ncheckout_dir }} 2>/dev/null

find */l10n -mindepth 0 -maxdepth 0 -type d | while read D; do
  svn cleanup $D
done

popd 2>/dev/null
