<VirtualHost *:80>
    ServerAdmin   {{ l10nsite_serveradmin }}
    ServerName    l10n.kde.org
    ServerAlias   i18n.kde.org
    DocumentRoot  {{ l10nwebsite_dir }}/

    Redirect permanent / https://l10n.kde.org/

    ErrorLog ${APACHE_LOG_DIR}/l10n.kde.org-error.log
    CustomLog ${APACHE_LOG_DIR}/l10n.kde.org.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin   {{ l10nsite_serveradmin }}
    ServerName    l10n.kde.org
    DocumentRoot  {{ l10nwebsite_dir }}/
    ErrorDocument 404 /media/404.php

    ErrorLog ${APACHE_LOG_DIR}/l10n.kde.org-error.log
    CustomLog ${APACHE_LOG_DIR}/l10n.kde.org.log combined

    # Make a variety of custom pages work
    RewriteEngine On

    # Make Team Pages for Info and Screenshots work
    RewriteRule ^/teams/info/([^\/]{2,20})\/?$ teams/index.php?action=info&team=$1
    RewriteRule ^/teams/shots/([^\/]{2,20})\/?$ screenshots/index.php?action=info&team=$1

    # Make screenshot pages work - per team view
    RewriteCond %{REQUEST_URI} !^/screenshots/index.php.*$
    RewriteCond %{REQUEST_URI} !^/screenshots/$
    RewriteCond %{REQUEST_URI} !^/screenshots$
    RewriteRule ^/screenshots/([^\/]{2,20})\/?$ screenshots/index.php?action=info&team=$1

    # Make screenshot pages work - top level view
    RewriteRule ^/screenshots/index.php(.*)$ screenshots/index.php$1
    RewriteRule ^/screenshots/$ screenshots/index.php
    RewriteRule ^/screenshots$ screenshots/index.php

    # Old style pages, send them to the new place
    RewriteRule ^/teams/index.shtml$ http://l10n.kde.org/teams/index.php [R]
    RewriteRule ^/teams/distributed.html$ http://l10n.kde.org/teams/index.php?action=distributed [R]

    # Old style team subsites: send them to their new home
    RedirectMatch ^/teams/([^\/]{2,20})/$ http://$1.l10n.kde.org/

    # Legacy pages - /shots and /snapshots - send them to the new home
    Redirect permanent /shots /screenshots
    Redirect permanent /snapshots /screenshots

    # Enable SSL
    Include /etc/apache2/common/ssl.conf
    Include /etc/apache2/common/ssl-l10n-kde-org.conf
    # Handle shared Capacity configuration
    Include /etc/apache2/common/capacity.conf
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin   {{ l10nsite_serveradmin }}
    ServerName    i18n.kde.org
    DocumentRoot  {{ l10nwebsite_dir }}/

    ErrorLog ${APACHE_LOG_DIR}/l10n.kde.org-error.log
    CustomLog ${APACHE_LOG_DIR}/l10n.kde.org.log combined

    Redirect permanent / https://l10n.kde.org/

    # Enable SSL
    Include /etc/apache2/common/ssl.conf
    Include /etc/apache2/common/ssl-l10n-kde-org.conf
</VirtualHost>

